# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Virtual environment
venv/
.venv/
env/
.env/

# Editor-specific files
.vscode/
.idea/
*.swp
*.bak
*~
*.log

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook files
.ipynb_checkpoints/

# Test and build artifacts
dist/
build/
*.egg

deviceConfig.json
deviceConfig_2.json